langchain 
langchain-experimental 
langchain-openai 
langchain_community 
langchain-huggingface 

pymysql 

google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib 

nest_asyncio 
numpy 
openai
torch
faiss-cpu
unstructured[all-docs]

streamlit 
streamlit-tags 
streamlit_quill
streamlit-modal
streamlit_extras
